/* index2.html */
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}


.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    place-items: center;
  }

.card{
    transition: 0.3s ease;
}

.card:active{
    transform: scale(0.9);
}